<%= turbo_stream_from "links" %>

<h1>Saved Links</h1>
<%= link_to "Add New Link", new_link_path, class: "btn btn-primary" %>
<h2>Filter</h2>
<%= form_with url: links_path, method: :get, local: true, class: "mb-4 flex space-x-2" do |f| %>
  <%= f.label :tag, "Tag:" %>
  <%= f.text_field :tag, value: params[:tag], class: "border p-1" %>

  <%= f.label :status, "Status:" %>
  <%= f.select :status,
           options_for_select(
             [["Alle", ""], %w[Gelesen read], %w[Ungelesen unread]],
             params[:status],
           ),
           class: "border p-1" %>

  <%= f.submit "Filtern", class: "btn btn-primary" %>
<% end %>

<div id="links">
  <%= render @links %>
</div>
